.BurgerOrder {
    width: 100%;
    text-align: center;
    padding: 0 0 1rem 0;
}


.BurgerOrder button {
    width: 25%;
    height: 50px;
    border: 0;
    background-color: #c9c9c9;
    color: #696969;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .3s;
}

.BurgerOrder button:active {
    transform: scale(1.05);
}

.BurgerOrder button:disabled {
    background-color: #6969694b;
    cursor: not-allowed;
    transform: scale(.8);
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0);
}

.Active {
    transform: scale(1);
}

@media (max-width: 600px) {
    .BurgerOrder button {
        width:40%;
    }
}

@media (max-width: 300px) {
    .BurgerOrder button {
        width: 80%;
        transform: scale(.8);
    }
}